header {
  width: 100%;
  padding: 10px;
  color: #00FF00;
  border-bottom: 1px solid #999999;
  overflow: auto;
}

img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #009900;
  float: left;
  margin-right: 10px;
}

h1 {
  color: blue;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
  width: fit-content;
  padding: 0 20px;
  border: 2px solid #009900;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.svgButton {
  width: 30px;
}

.headerButtons {
  padding: 12px 10px;
}

.subNav {
  width: 100%;
  padding: 10px;
  overflow: auto;
}

.subNavButton {
  border-color: #0000FF;
  color: #0000FF;
  float: right;
}

.subNavButton:hover {
  background-color: #0000FF;
  border-color: #0000FF;
  color: #FFFFFF;
}
  