@font-face {
  font-family: "IBMPlexMono";
  src: url("./fonts/IBMPlexMono-Regular.ttf");
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url('./fonts/IBMPlexSans-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "IBMPlexMono",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: "IBMPlexSans",
    sans-serif;
}

.modal {
  color: #0063B1;
}

button, input[type=submit] {
  background-color: #FFFFFF;
  font-family: "IBMPlexSans",
    sans-serif;
  font-weight: 700;
  border-style: outset;
  border-radius: 20px;
  border-color: #107C10;
  border-width: 2px;
  color: #107C10;
  height: 40px;
  min-width: 40px;
  padding: 0px 20px;
  outline: none;
}

input[type=submit] {
  float: right;
}

button:hover, input[type=submit]:hover {
  cursor: pointer;
  background-color: #107C10;
  color: #FFFFFF;
}

.closeButton {
  border-color: #69797E;
  color: #E81123;
  padding: 0;
  float: right;
}

.closeButton:hover {
  border-color: #E81123;
  background-color: #FFFFFF;
  color: #E81123;
}

.deleteButton {
  border-color: #E81123;
  color: #E81123;
  margin-left: 20px;
}

.deleteButton:hover {
  background-color: #E81123;
  color: #FFFFFF;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.modal {
  width: 50%;
  max-width: 450px;
  border: 2px solid #0063B1;
  border-radius: 7px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  padding: 20px;
  overflow: auto;
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

.redBorder {
  border-color: #E81123;
}

.error {
  color: #E81123;
  font-weight: 700;
}
