* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: "Comic Sans MS",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
