main {
    padding: 10px;
}

h2 {
    color: #0000FF;
    border-bottom: 1px solid #FFFFFF;
}

table {
    margin: 0;
    padding: 5px;
    border-collapse: collapse;
    background-color: #FFFFFF;
    width: 100%;
}

th, td {
    border-bottom: 1px solid #000000;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr.data:hover {
    background-color: #FF0000;
}

th, td {
    padding: 5px;
}

th {
    background-color: #ADD8E6;
    color: #FF0000;
    text-align: left;
}

td {
    color: #000000;
}

p {
    color: hotpink;
}
